* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}
:root {
  --light-1: #F0F0FA;
  --light-2: #E0E0F5;
  --light-3: #D1D1F0;
  --light-4: #C1C1EB;
  --dark-1: #181825;
  --dark-2: #202031;
  --dark-3: #28283E;
  --dark-4: #30304B;
  --brand: #6CDF94;
}
@font-face {
  font-family: "Prompt-Light";
  font-weight: 200;
  src: url("../fonts/Prompt-Light.ttf");
}
@font-face {
  font-family: "Prompt-Regular";
  font-weight: 300;
  src: url("../fonts/Prompt-Regular.ttf");
}
@font-face {
  font-family: "Prompt-Medium";
  font-weight: 400;
  src: url("../fonts/Prompt-Medium.ttf");
}
h1 {
  font-family: "Prompt-Light";
  font-size: 106px;
  letter-spacing: -1.5px;
  color: var(--light-4);
}
h2 {
  font-family: "Prompt-Light";
  font-size: 66px;
  letter-spacing: -0.5px;
  color: var(--light-4);
}
h3 {
  font-family: "Prompt-Regular";
  font-size: 53px;
  letter-spacing: 0px;
  color: var(--light-3);
}
h4 {
  font-family: "Prompt-Regular";
  font-size: 38px;
  letter-spacing: 0.25px;
  color: var(--light-3);
}
h5 {
  font-family: "Prompt-Regular";
  font-size: 27px;
  letter-spacing: 0px;
  color: var(--light-2);
}
h6 {
  font-family: "Prompt-Medium";
  font-size: 22px;
  letter-spacing: 0.15px;
  color: var(--light-2);
}
.subtitle-1 {
  font-family: "Prompt-Regular";
  font-size: 18px;
  letter-spacing: 0.15px;
  color: var(--light-1);
}
.subtitle-2 {
  font-family: "Prompt-Medium";
  font-size: 15px;
  letter-spacing: 0.1px;
  color: var(--light-1);
}
.body-1 {
  font-family: "Prompt-Regular";
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: var(--light-1);
}
.body-2 {
  font-family: "Prompt-Regular";
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 1.5;
  color: var(--light-1);
}
.button {
  font-family: "Prompt-Medium";
  font-size: 15px;
  letter-spacing: 1.25px;
}
.caption {
  font-family: "Prompt-Regular";
  font-size: 13px;
  letter-spacing: 0.4px;
  color: var(--dark-4);
}
.overline {
  font-family: "Prompt-Regular";
  font-size: 11px;
  letter-spacing: 1.5px;
  color: var(--dark-4);
}
/* --- GENERAL STRUCTURE --- */
body {
  background-color: var(--dark-1);
}
main {
  position: relative;
  top: 60px;
}
section {
  //border-bottom: 1px solid red;
}

/* --- NAVBAR --- */
#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--dark-2);
  background-color: var(--dark-1);
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 20px;
}
#navbar li {
  padding: 10px;
}
#navbar a {
  text-decoration: none;
  transition: color .25s;
}
#navbar a:hover {
  color: var(--brand);
}

/* --- WELCOME SECTION --- */
#welcome-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.presentation-card {
  position: absolute;
  //top: 50%;
  right: 5vw;
  max-width: 400px;
  height: auto;
  padding: 40px 20px;
  border: 1px solid var(--dark-4);
  border-radius: 4px;
  background-color: rgba(24, 24, 37, 0.8);
}
.presentation-card h1 {
  color: var(--brand);
  line-height: 1;
  margin-bottom: 20px;
}
.presentation-card p {
  text-align: justify;
}

/* --- PROJECTS SECTION --- */
#projects {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 80px 0;
}
.projects-div {
  max-width: 800px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  //border: 1px solid red;
}
.projects-div a {
  text-decoration: none;
}
.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  padding: 5px;
  background-color: var(--dark-2);
  border: 1px solid var(--dark-4);
  border-radius: 4px;
  transition: background-color .25s;
}
.project-tile:hover {
  background-color: var(--dark-3);
}
.project-date {
  color: var(--dark-4);
}
.project-name {
  color: var(--dark-4);
  text-align: center;
}

/* --- CONTACT SECTION --- */
#contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.networks-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.network-tile {
  width: 100px;
  height: 100px;
  background-color: var(--dark-4);
  transition: background-color .25s, box-shadow .25s;
}
.network-tile:hover {
  box-shadow: 0 0 10px var(--brand);
  background-color: var(--brand);
}
.network-tile img {
  width: 100px;
  height: 100px;
}

.github { /* Personalized icon background for change of colors on hover */
  width: 98px;
  height: 98px;
  border-radius: 50%;
}
.github img {
  position: relative;
  right: 1px;
  bottom: 2px;
}
.instagram {
  border-radius: 30%;
}
.behance {
  border-radius: 5px;
}

/* --- FOOTER --- */
footer {
  display: flex;
  position: relative;
  bottom: -60px;
  padding: 20px;
  border-top: 2px solid var(--dark-2);
}
.icons-ref {
  //border: 1px solid red;
}
.icons-ref div {
  margin-bottom: 2px;
}
.icons-ref a {
  color: var(--dark-4);
}
.icons-ref a:hover {
  color: var(--light-4);
}
